[package]
name = "komac"
version = "2.9.0"
authors = ["Russell Banks"]
edition = "2021"
rust-version = "1.83"
description = "A manifest creator for winget-pkgs"
license = "GPL-3.0-or-later"
repository = "https://github.com/russellbanks/Komac"
readme = "README.md"
documentation = "https://github.com/russellbanks/Komac/blob/main/README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["winget", "winget-pkgs", "winget-cli", "windows"]
build = "build.rs"
include = ["**/*.rs", "assets/github.graphql", "assets/logo.ico"]

[[bin]]
name = "komac"
path = "src/main.rs"

[profile.release]
codegen-units = 1
lto = true
strip = true

[dependencies]
anstream = "0.6.18"
base16ct = { version = "0.2.0", features = ["std"] }
base64ct = { version = "1.6.0", features = ["std"] }
bit-set = "0.8.0"
bitflags = "2.6.0"
bon = "3.3.2"
byteorder = "1.5.0"
bzip2 = "0.5.0"
camino = { version = "1.1.9", features = ["serde1"] }
chrono = { version = "0.4.39", features = ["serde"] }
clap = { version = "4.5.23", features = ["derive", "cargo", "env"] }
clap_complete = "4.5.41"
codepage = "0.1.2"
color-eyre = { version = "0.6.3", default-features = false }
const_format = { version = "0.2.34", features = ["derive"] }
crc32fast = "1.4.2"
crossterm = "0.28.1"
cynic = { version = "3.9.1", features = ["http-reqwest"] }
derive_more = { version = "1.0.0", features = ["as_ref", "debug", "deref", "deref_mut", "display", "from_str"] }
encoding_rs = "0.8.35"
flate2 = "1.0.35"
futures = "0.3.31"
futures-util = "0.3.31"
heapless = { version = "0.8.0", features = ["serde"] }
icu_locid = { version = "1.5.0", features = ["serde", "std"] }
indexmap = "2.7.0"
indicatif = "0.17.9"
inquire = "0.7.5"
itertools = "0.14.0"
itoa = "1.0.14"
keyring = { version = "3.6.1", features = ["apple-native", "crypto-openssl", "sync-secret-service", "vendored", "windows-native"] }
liblzma = { version = "0.3.5", features = ["static"] }
memchr = "2.7.4"
memmap2 = "0.9.5"
msi = "0.8.0"
num_cpus = "1.16.0"
nutype = { version = "0.5.1", features = ["serde"] }
open = "5.3.2"
ordinal-trait = "0.1.0"
owo-colors = "4.1.0"
package-family-name = { version = "2.0.1", features = ["serde"] }
percent-encoding = "2.3.1"
protobuf = "3.7.1"
pulldown-cmark = "0.12.2"
quick-xml = { version = "0.37.2", features = ["serialize"] }
rand = "0.8.5"
ratatui = "0.29.0"
reqwest = { version = "0.12.12", features = ["native-tls-vendored", "stream"] }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.135"
serde_with = { version = "3.12.0", default-features = false, features = ["macros"] }
serde_yaml = "0.9.34"
sha2 = "0.10.8"
strsim = "0.11.1"
strum = { version = "0.26.3", features = ["derive"] }
tempfile = "3.15.0"
thiserror = "2.0.9"
tokio = { version = "1.42.0", features = ["rt-multi-thread", "macros", "fs"] }
tree-sitter-highlight = "0.24.6"
tree-sitter-yaml = "0.7.0"
tui-textarea = { version = "0.7.0", features = ["search"] }
url = { version = "2.5.3", features = ["serde"] }
uuid = { version = "1.11.0", features = ["v4"] }
versions = "6.3.2"
walkdir = "2.5.0"
yara-x = { version = "0.12.0", default-features = false, features = ["pe-module"] }
zerocopy = { version = "0.8.14", features = ["derive"] }
zip = { version = "2.2.2", default-features = false, features = ["deflate"] }

[build-dependencies]
cynic-codegen = { version = "3.9.1", features = ["rkyv"] }
windows_exe_info = { version = "0.4.2", features = ["manifest"] }

[dev-dependencies]
indoc = "2.0.5"
rstest = "0.24.0"
sha1 = "0.10.6"

[package.metadata.generate-rpm]
assets = [
    { source = "target/release/komac", dest = "/usr/bin/komac", mode = "755" },
]
