[package]
name = "komac"
version = "2.0.0"
authors = ["Russell Banks"]
edition = "2021"
description = "A manifest creator for winget-pkgs"
license = "GPL-3.0"
repository = "https://github.com/russellbanks/Komac"
documentation = "https://github.com/russellbanks/Komac/blob/main/README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["winget", "winget-pkgs", "winget-cli", "windows"]
build = "build.rs"

[profile.release]
codegen-units = 1
lto = true
strip = true

[dependencies]
base16ct = { version = "0.2.0", features = ["std"] }
base64ct = { version = "1.6.0", features = ["std"] }
bitflags = "2.4.2"
byteorder = "1.5.0"
clap = { version = "4.4.18", features = ["derive", "cargo", "env"] }
color-eyre = { version = "0.6.2", default-features = false }
const_format = "0.2.32"
crossterm = "0.27.0"
derive_more = "0.99.17"
futures = "0.3.30"
futures-util = "0.3.30"
indexmap = "2.1.0"
indicatif = "0.17.7"
inquire = "0.6.2"
itertools = "0.12.0"
keyring = "2.3.1"
language-tags = { version = "0.3.2", features = ["serde"] }
memmap2 = "0.9.3"
mimalloc = "0.1.39"
msi = "0.7.0"
num_cpus = "1.16.0"
nutype = { version = "0.4.0", features = ["serde"] }
object = "0.32.2"
ordinal = "0.3.2"
package-family-name = "1.1.0"
percent-encoding = "2.3.1"
pulldown-cmark = "0.9.3"
quick-xml = { version = "0.31.0", features = ["serialize"] }
rand = "0.8.5"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
serde_with = { version = "3.4.0", features = ["macros"] }
serde_yaml = "0.9.30"
sha2 = "0.10.8"
strum = { version = "0.25.0", features = ["derive"] }
tempfile = "3.9.0"
thiserror = "1.0.56"
time = { version = "0.3.31", features = ["serde-human-readable"] }
tokio = { version = "1.35.1", features = ["rt-multi-thread", "macros", "fs"] }
url = { version = "2.5.0", features = ["serde"] }
uuid = { version = "1.7.0", features = ["serde", "v4"] }
versions = "6.1.0"
zerocopy = "0.7.32"
zip = { version = "0.6.6", default-features = false, features = ["deflate"] }

[target.'cfg(any(windows, target_os = "macos"))'.dependencies]
graphql_client = { version = "0.13.0", features = ["reqwest"] }
reqwest = { version = "0.11.23", features = ["stream"] }

[target.'cfg(not(any(windows, target_os = "macos")))'.dependencies]
graphql_client = { version = "0.13.0", features = ["reqwest-rustls"] }
reqwest = { version = "0.11.23", default-features = false, features = ["stream", "rustls-tls"] }

[build-dependencies]
windows_exe_info = { version = "0.4.1", features = ["manifest"] }

[dev-dependencies]
rstest = "0.18.2"
