[package]
name = "komac"
version = "2.12.1"
authors = ["Russell Banks"]
edition = "2024"
rust-version = "1.88"
description = "A manifest creator for winget-pkgs"
license = "GPL-3.0-or-later"
repository = "https://github.com/russellbanks/Komac"
readme = "README.md"
documentation = "https://github.com/russellbanks/Komac/blob/main/README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["winget", "winget-pkgs", "winget-cli", "windows"]
build = "build.rs"
include = ["**/*.rs", "assets/github.graphql", "assets/branding/logo.ico"]

[[bin]]
name = "komac"
path = "src/main.rs"

[profile.release]
codegen-units = 1
lto = true
strip = true

[dependencies]
anstream = "0.6.20"
base64ct = { version = "1.8.0", features = ["std"] }
bitflags = "2.9.1"
bon = "3.7.0"
byteorder = "1.5.0"
bytes = "1.10.1"
bzip2 = "0.6.0"
cab = "0.6.0"
camino = { version = "1.1.11", features = ["serde1"] }
chrono = { version = "0.4.41", features = ["serde"] }
clap = { version = "4.5.44", features = ["derive", "cargo", "env"] }
clap_complete = "4.5.57"
color-eyre = { version = "0.6.5", default-features = false }
compact_str = "0.9.0"
const_format = { version = "0.2.34", features = ["derive"] }
crossbeam-channel = "0.5.15"
crossterm = "0.29.0"
cynic = { version = "3.11.0", features = ["http-reqwest"] }
derive-new = "0.7.0"
derive_more = { version = "2.0.1", features = ["as_ref", "debug", "deref", "deref_mut", "display", "from_str", "into", "into_iterator"] }
encoding_rs = "0.8.35"
flate2 = "1.1.2"
futures-util = "0.3.31"
html2text = "0.15.3"
indexmap = "2.10.0"
indextree = "4.7.4"
indicatif = "0.18.0"
inno = { version = "0.1", features = ["static-lzma"] }
inquire = "0.7.5"
itertools = "0.14.0"
keyring = { version = "3.6.3", features = ["apple-native", "crypto-openssl", "sync-secret-service", "vendored", "windows-native"] }
liblzma = { version = "0.4.2", features = ["static"] }
memchr = "2.7.5"
memmap2 = "0.9.7"
msi = "0.9.0"
nt-time = { version = "0.12.1", features = ["chrono"] }
num_cpus = "1.17.0"
open = "5.3.2"
ordinal = "0.4.0"
owo-colors = "4.2.2"
protobuf = "3.7.2"
quick-xml = { version = "0.38.1", features = ["serialize"] }
rand = "0.9.2"
ratatui = "0.29.0"
regex = "1.11.1"
reqwest = { version = "0.12.22", features = ["native-tls-vendored", "stream"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.142"
serde_with = "3.14.0"
serde_yaml = "0.9.34"
sha2 = "0.10.9"
strsim = "0.11.1"
strum = { version = "0.27.2", features = ["derive"] }
supports-hyperlinks = "3.1.0"
tempfile = "3.20.0"
thiserror = "2.0.14"
tokio = { version = "1.47.1", features = ["rt-multi-thread", "macros", "fs", "parking_lot"] }
tracing = { version = "0.1.41", features = ["release_max_level_warn"] }
tracing-indicatif = "0.3.12"
tracing-subscriber = "0.3.19"
tree-sitter-highlight = "0.25.8"
tree-sitter-yaml = "0.7.1"
tui-textarea = { version = "0.7.0", features = ["search"] }
url = { version = "2.5.4", features = ["serde"] }
uuid = { version = "1.18.0", features = ["v4"] }
walkdir = "2.5.0"
winget-types = { version = "0.3.2", features = ["serde", "std", "chrono"] }
yara-x = { version = "1.5.0", default-features = false, features = ["pe-module"] }
zerocopy = { version = "0.8.26", features = ["derive", "std"] }
zip = { version = "4.3.0", default-features = false, features = ["deflate"] }

[build-dependencies]
cynic-codegen = { version = "3.11.0", features = ["rkyv"] }
windows_exe_info = { version = "0.5.2", features = ["manifest"] }

[dev-dependencies]
indoc = "2.0.6"
rstest = "0.26.1"

[package.metadata.generate-rpm]
assets = [
    { source = "target/release/komac", dest = "/usr/bin/komac", mode = "755" },
]
