[package]
name = "komac"
version = "2.12.0"
authors = ["Russell Banks"]
edition = "2024"
rust-version = "1.85"
description = "A manifest creator for winget-pkgs"
license = "GPL-3.0-or-later"
repository = "https://github.com/russellbanks/Komac"
readme = "README.md"
documentation = "https://github.com/russellbanks/Komac/blob/main/README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["winget", "winget-pkgs", "winget-cli", "windows"]
build = "build.rs"
include = ["**/*.rs", "assets/github.graphql", "assets/logo.ico"]

[[bin]]
name = "komac"
path = "src/main.rs"

[profile.release]
codegen-units = 1
lto = true
strip = true

[dependencies]
anstream = "0.6.18"
base64ct = { version = "1.7.3", features = ["std"] }
bit-set = "0.8.0"
bitflags = "2.9.0"
bon = "3.6.3"
byteorder = "1.5.0"
bytes = "1.10.1"
bzip2 = "0.5.2"
cab = "0.6.0"
camino = { version = "1.1.9", features = ["serde1"] }
chrono = { version = "0.4.41", features = ["serde"] }
clap = { version = "4.5.38", features = ["derive", "cargo", "env"] }
clap_complete = "4.5.50"
codepage = "0.1.2"
color-eyre = { version = "0.6.4", default-features = false }
compact_str = "0.9.0"
const_format = { version = "0.2.34", features = ["derive"] }
crc32fast = "1.4.2"
crossbeam-channel = "0.5.15"
crossterm = "0.29.0"
cynic = { version = "3.10.0", features = ["http-reqwest"] }
derive-new = "0.7.0"
derive_more = { version = "2.0.1", features = ["as_ref", "debug", "deref", "deref_mut", "display", "from_str", "into", "into_iterator"] }
encoding_rs = "0.8.35"
flate2 = "1.1.1"
futures = "0.3.31"
futures-util = "0.3.31"
html2text = "0.15.0"
indexmap = "2.9.0"
indextree = "4.7.4"
indicatif = "0.17.11"
inquire = "0.7.5"
itertools = "0.14.0"
keyring = { version = "3.6.2", features = ["apple-native", "crypto-openssl", "sync-secret-service", "vendored", "windows-native"] }
liblzma = { version = "0.4.1", features = ["static"] }
memchr = "2.7.4"
memmap2 = "0.9.5"
msi = "0.8.0"
nt-time = { version = "0.11.1", features = ["chrono"] }
num_cpus = "1.16.0"
open = "5.3.2"
ordinal = "0.4.0"
owo-colors = "4.2.0"
protobuf = "3.7.2"
quick-xml = { version = "0.37.5", features = ["serialize"] }
rand = "0.9.1"
ratatui = "0.29.0"
regex = "1.11.1"
reqwest = { version = "0.12.15", features = ["native-tls-vendored", "stream"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serde_yaml = "0.9.34"
sha2 = "0.10.9"
strsim = "0.11.1"
strum = { version = "0.27.1", features = ["derive"] }
supports-hyperlinks = "3.1.0"
tempfile = "3.19.1"
thiserror = "2.0.12"
tokio = { version = "1.45.0", features = ["rt-multi-thread", "macros", "fs", "parking_lot"] }
tracing = { version = "0.1.41", features = ["release_max_level_warn"] }
tracing-indicatif = "0.3.9"
tracing-subscriber = "0.3.19"
tree-sitter-highlight = "0.25.3"
tree-sitter-yaml = "0.7.0"
tui-textarea = { version = "0.7.0", features = ["search"] }
url = { version = "2.5.3", features = ["serde"] }
uuid = { version = "1.16.0", features = ["v4"] }
walkdir = "2.5.0"
winget-types = { version = "0.3.0", features = ["serde", "std", "chrono"] }
yara-x = { version = "0.14.0", default-features = false, features = ["pe-module"] }
zerocopy = { version = "0.8.25", features = ["derive", "std"] }
zip = { version = "2.6.1", default-features = false, features = ["deflate"] }

[build-dependencies]
cynic-codegen = { version = "3.10.0", features = ["rkyv"] }
windows_exe_info = { version = "0.5.2", features = ["manifest"] }

[dev-dependencies]
indoc = "2.0.6"
rstest = "0.25.0"

[package.metadata.generate-rpm]
assets = [
    { source = "target/release/komac", dest = "/usr/bin/komac", mode = "755" },
]
