[package]
name = "komac"
version = "2.2.0"
authors = ["Russell Banks"]
edition = "2021"
description = "A manifest creator for winget-pkgs"
license = "GPL-3.0"
repository = "https://github.com/russellbanks/Komac"
readme = "README.md"
documentation = "https://github.com/russellbanks/Komac/blob/main/README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["winget", "winget-pkgs", "winget-cli", "windows"]
build = "build.rs"
include = ["**/*.rs", "assets/github.graphql", "assets/logo.ico"]

[[bin]]
name = "komac"
path = "src/main.rs"

[profile.release]
codegen-units = 1
lto = true
strip = true

[dependencies]
base16ct = { version = "0.2.0", features = ["std"] }
base64ct = { version = "1.6.0", features = ["std"] }
bitflags = "2.5.0"
camino = { version = "1.1.6", features = ["serde1"] }
chrono = { version = "0.4.37", features = ["serde"] }
clap = { version = "4.5.4", features = ["derive", "cargo", "env"] }
color-eyre = { version = "0.6.3", default-features = false }
const_format = "0.2.32"
crossterm = "0.27.0"
cynic = { version = "3.5.0", features = ["http-reqwest"] }
derive_more = "0.99.17"
futures = "0.3.30"
futures-util = "0.3.30"
heapless = "0.8.0"
indexmap = "2.2.6"
indicatif = "0.17.8"
inquire = "0.7.4"
itertools = "0.12.1"
keyring = "2.3.2"
memmap2 = "0.9.4"
msi = "0.7.0"
num-traits = "0.2.18"
num_cpus = "1.16.0"
nutype = { version = "0.4.0", features = ["serde"] }
object = "0.34.0"
open = "5.1.2"
ordinal = "0.3.2"
oxilangtag = { version = "0.1.5", features = ["serde"] }
package-family-name = "1.1.0"
percent-encoding = "2.3.1"
pulldown-cmark = "0.10.0"
quick-xml = { version = "0.31.0", features = ["serialize"] }
rand = "0.8.5"
reqwest = { version = "0.12.2", features = ["stream"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
serde_with = { version = "3.7.0", features = ["macros"] }
serde_yaml = "0.9.34"
sha2 = "0.10.8"
strum = { version = "0.26.2", features = ["derive"] }
tempfile = "3.10.1"
thiserror = "1.0.58"
tokio = { version = "1.37.0", features = ["rt-multi-thread", "macros", "fs"] }
url = { version = "2.5.0", features = ["serde"] }
uuid = { version = "1.8.0", features = ["v4"] }
versions = "6.2.0"
zip = { version = "0.6.6", default-features = false, features = ["deflate"] }

[build-dependencies]
cynic-codegen = { version = "3.5.0", features = ["rkyv"] }
windows_exe_info = { version = "0.4.2", features = ["manifest"] }

[dev-dependencies]
indoc = "2.0.5"
rstest = "0.18.2"
sha1 = "0.10.6"

[package.metadata.cross.target.x86_64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH"
]

[package.metadata.cross.target.i686-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH"
]

[package.metadata.cross.target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH"
]

[package.metadata.cross.target.armv7-unknown-linux-gnueabihf]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH"
]
