name: Cargo Build & Test

on:
  push:
    paths:
      - .github/workflows/build.yml
      - .github/workflows/release.yml
      - assets/**
      - src/**
      - Cargo.toml
      - Cargo.lock
      - build.rs
  pull_request:
    paths:
      - .github/workflows/build.yml
      - .github/workflows/release.yml
      - assets/**
      - src/**
      - Cargo.toml
      - Cargo.lock
      - build.rs

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust
        uses: moonrepo/setup-rust@v1

      - name: Check
        run: cargo check

      - name: Test
        run: cargo test

      - name: Publish dry run
        run: cargo publish --dry-run

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust
        uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-msrv

      - name: Verify MSRV
        id: verify
        run: cargo msrv verify

      - name: Find actual MSRV
        if: steps.verify.outcome == 'failure'
        run: cargo msrv find
