name: Build

on: [push, pull_request]

env:
  RELEASE_NAME: Nightly release
  RELEASE_TAG_NAME: nightly
  RELEASE_IS_PRERELEASE: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build with Gradle
        run: ./gradlew build

      - name: Build binaries
        run: ./gradlew jpackage
        env:
          PER_USER_INSTALL: true

      - name: Rename assets to Komac-nightly
        if: github.repository == 'russellbanks/Komac' && github.ref == 'refs/heads/main'
        shell: pwsh
        run: |
          Get-ChildItem -Recurse -Filter "Komac*" -Include "*-all.jar","*.dmg","*.exe","*.deb" | ForEach-Object {
            if ($_.Extension -eq ".exe") {
              Rename-Item $_.FullName -NewName "KomacUserSetup-nightly$($_.Extension)"
            } else {
              Rename-Item $_.FullName -NewName "Komac-nightly$($_.Extension)"
            }
          }

      - name: Release nightly JAR
        if: github.repository == 'russellbanks/Komac' && github.ref == 'refs/heads/main' && matrix.os == 'ubuntu-latest'
        uses: softprops/action-gh-release@v1
        with:
          name: ${{env.RELEASE_NAME}}
          tag_name: ${{env.RELEASE_TAG_NAME}}
          prerelease: ${{env.RELEASE_IS_PRERELEASE}}
          files: build/libs/Komac-nightly.jar

      - name: Release nightly binaries
        if: github.repository == 'russellbanks/Komac' && github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@v1
        with:
          name: ${{env.RELEASE_NAME}}
          tag_name: ${{env.RELEASE_TAG_NAME}}
          prerelease: ${{env.RELEASE_IS_PRERELEASE}}
          files: |
            build/distributions/KomacUserSetup-nightly.exe
            build/distributions/Komac-nightly.deb
            build/distributions/Komac-nightly.dmg

      - name: Clean build directory
        if: github.repository == 'russellbanks/Komac' && github.ref == 'refs/heads/main' && matrix.os == 'windows-latest'
        run: ./gradlew clean

      - name: Build machine scope exe on Windows
        if: github.repository == 'russellbanks/Komac' && github.ref == 'refs/heads/main' matrix.os == 'windows-latest'
        run: ./gradlew jpackage
        env:
          PER_USER_INSTALL: false

      - name: Rename exe to KomacMachineSetup-nightly
        if: github.repository == 'russellbanks/Komac' && github.ref == 'refs/heads/main' && matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          Get-ChildItem -Recurse -Filter "*.exe" | ForEach-Object {
            if ($_.Name -ne "KomacUserSetup-nightly.exe") {
              Rename-Item $_.FullName -NewName "KomacMachineSetup-nightly$($_.Extension)"
            }
          }

      - name: Release machine scope exe
        if: github.repository == 'russellbanks/Komac' && github.ref == 'refs/heads/main' && matrix.os == 'windows-latest'
        uses: softprops/action-gh-release@v1
        with:
          name: ${{env.RELEASE_NAME}}
          tag_name: ${{env.RELEASE_TAG_NAME}}
          prerelease: ${{env.RELEASE_IS_PRERELEASE}}
          files: build/distributions/KomacMachineSetup-nightly.exe
